img {
	width: 30%;
	float: left;
	margin: 0.95%;
	border: 5px solid maroon;
}

h1 {
	margin: 0.95%;
	font-family: Dosis;
	color: maroon;
	text-transform: uppercase;
	border-bottom: 2px solid maroon;
	width: 30%;
	padding-bottom: 20px;
}

